.main-container{
    background-color: rgba(250, 250, 250, 1);
}
.store-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.products-selected-item{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    width: 300px;
}


.products-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.clear-items{
    margin-left: 8px;
    background-color: rgba(250, 250, 250, 1);
    position: sticky;
    top: 0; 
}

.choose-btn {
    display: flex;
    justify-content: center;
}

.choose-again-btn, .choose-one-btn{
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
    background-color: rgb(209, 214, 216);
    padding: 10px 15px;
    margin: 10px;
    font-size: 13px;
    transition: .35s ease-in-out;
}

.choose-one-btn:hover{
    background-color: rgb(5, 110, 152);
    color: #ffff;
}

.choose-again-btn:hover{
    background-color: rgb(5, 110, 152);
    color: #ffff;
}

h1{
    text-transform: uppercase;
    color: rgb(5, 110, 152);
    margin: 35px 0;
    text-align: center;
}

.clear-item h3{
    text-align: center;
}