.cart-items-container{
    background-color: rgba(250, 250, 250, 1);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    margin: 15px 0;
    padding: 0 5px 15px 5px;
}

.cart-items{
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-items p {
    margin-left: 5px;
    padding-right: 10px;
    text-align: justify;
    
}

.btn{
   display: flex;
   justify-content: center;
}

.delete-btn{
    padding: 3px 20px;
    border: solid 1px rgba(239, 14, 14, 0.655);
}

.delete-btn:hover{
    background-color: rgba(239, 14, 14, 0.628);
    transition: .30s ease-in-out;
    color: #ffff;
    padding: 4px 25px;
}

.cart-items img{
    width: 60px;
    height: 40px;
}