.cart-items{
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-items p {
    margin-left: 5px;
    
}

.btn{
   display: flex;
   justify-content: center;
}

.cart-items img{
width: 60px;
height: 40px;
}